*{  
    margin: 0px;
    font-family: sans-serif, Arial, Helvetica;
    padding: 0px;
}
body {
    background-color: #eee;
}

.container{
    overflow: hidden;
    width: 100%;
}

.cabecera{
    background-color: crimson;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.centrar {
    margin: 0px auto;
    text-align: center;
}

.boton {
    border: 0px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin: 20px 5px;
    padding: 13px 30px;
}

.boton:nth-child(1){
    margin-left: 0px;
}

/*HEADER*/
#header {
    background-color: #cf5d00;
    height: 180px;
}
#header img {
    height: 100px;

}
#header a {
    color:#eee;
}
/*MAIN*/
.titulo-principal {
    text-align: center;
    margin-bottom: 10px;
}

#encabezado {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

#banner {
    width: 100%;
}
#banner img {
    width: 100%;
    height: 300px;
}


main {
    margin-top: 30px;
}
    /*FORMULARIO*/
main legend {
    margin-left: 10px;
    text-transform: capitalize;
}

main fieldset {
    margin-top: 10px;
}

#form-principal {
    margin: 5px;
}

#form-principal input,
#form-principal label{
    display: block;
    margin: 10px;
    width: 95% ;
}
#form-principal img {
    width: 20px;
}
#form-principal label{
    text-transform: uppercase;
    font-weight: bold;
}

#form-principal input[type="text"]{
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
}



.btn {
    font-size: 25px;
}
#btnPrincipal img {
    width: 25px;
}

/*FOOTER*/
#footer {
    align-items: center;
    background-color: #cf5d00;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 100px;
}

#footer a {
    color:#eee;
}

#footer > span {
    color: white;
    margin-right: 100px;
}

/*TABLA*/
td, th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
table {
    border-collapse: collapse;
    max-width: 80%;
    margin: 10px auto;
    margin-bottom: 30px;
    overflow-x: scroll;
    width: 50%;
}

#tabla-container img {
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 5%;
}

tbody tr:hover{
    background-color: rgb(79, 79, 207);
    cursor: pointer;
}