.inputError {
    border: 1px solid red;
    box-shadow: 0px 0px 3px red;
}

.inputOk{
    border: 1px solid green;
    box-shadow: 0px 0px 3px green;
}

.danger {
    color: red;
    font-weight: bold;
}

small {
    display: block;
}